<header>
  <div>
    <p>Dogs 4 Life</p>
  </div>
  <nav>
    <a href="/">Home</a>
    <a href="/breeds">Find a breed</a>
    {{#if currentUser}}
      <a href="/favorites">Favorite Breeds</a>
    {{/if}}
  </nav>
  <nav>
    {{#if currentUser}}
      <a href="/profile">{{currentUser.username}}</a>
      <a href="/logout">Logout</a>
    {{/if}}

    {{#unless currentUser}}
      <a href="/login">Login</a>
      <a href="/signup">Signup</a>
    {{/unless}}
  </nav>
</header>
<div class="quatrinary-background-div">
  <div class="quatrinary-box">
    <div>
      <h2>{{breed.name}}</h2>
    </div>
    <div>
      <img src={{image}} />
    </div>
    <div>
      <p>Name: {{breed.name}}</p>
      <p>Life Span: {{breed.life_span}}</p>
      <p>Weight: {{breed.weight.metric}} Kg</p>
      <p>Height: {{breed.height.metric}} Cm</p>
      <p>Bred For: {{breed.bred_for}}</p>
      <p>Temperament: {{breed.temperament}}</p>
      {{#if currentUser}}
        <button>Favorite</button>
      {{/if}}
    </div>
  </div>
</div>