<div>
    <p>Name: {{breed.name}}</p>
    <p>Life Span: {{breed.life_span}}</p>
    <p>Weight: {{breed.weight.metric}}</p>
    <p>Height: {{breed.height.metric}}</p>
    <p>Bred For: {{breed.bred_for}}</p>
    <p>Temperament: {{breed.temperament}}</p>
</div>