<div><h2>{{name}}</h2></div>
<div>
  <p>Name: {{name}}</p>
  <p>Life Span: {{life_span}}</p>
  <p>Weight: {{weight.metric}} Kg</p>
  <p>Height: {{height.metric}} Cm</p>
  <p>Bred For: {{bred_for}}</p>
  <p>Temperament: {{temperament}}</p>
</div>