<div><h2>{{breed.name}}</h2></div>
<div><img src={{image}} /></div>
<div>
  <p>Name: {{breed.name}}</p>
  <p>Life Span: {{breed.life_span}}</p>
  <p>Weight: {{breed.weight.metric}} Kg</p>
  <p>Height: {{breed.height.metric}} Cm</p>
  <p>Bred For: {{breed.bred_for}}</p>
  <p>Temperament: {{breed.temperament}}</p>
</div>